{% extends "mail/layout.html" %} {%block style%}
<style>
    @media(min-width:1000px) {
        .box {
            border: 2px solid black;
            width: 50%;
            margin-top: 2%;
            margin-bottom: 2%;
            border-radius: 15px;
        }
    }
    
    @media(max-width:1000px) {
        .box {
            border: 2px solid black;
            width: 100%;
            margin-top: 2%;
            border-radius: 15px;
        }
    }
</style>

{%endblock%} {% block body %}
<center><img src="https://imgur.com/46BphvQ.png" width="300" alt="Image" loading="lazy" style="align-self:center;" class="myclass"></center>
<div class="align-middle">
    <div class="box mx-auto">
        <h2 style="text-align: center; padding:10px;">Register</h2>
        <hr>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="forms d-flex flex-column w-75 p-3 mx-auto">
                {% if message %}
                <br>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button></div>
                {% endif %}
                <div class="input-group mb-3">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username" style="text-transform: lowercase;" required>
                    <div class="input-group-prepend">
                        <span class="input-group-text">@mymail.com</span>
                    </div>
                </div>
                <div class="d-inline-flex">
                    <div class="w-50 mb-3">
                        <input class="form-control " autofocus type="text" name="firstname" placeholder="First Name" required>
                    </div>
                    <div class="w-50 mb-3">
                        <input class="form-control" autofocus type="text" name="lastname" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Profile Picture URL">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
                </div>
                <input class="btn btn-primary w-50 mx-auto" type="submit" value="Register">
            </div>
        </form>



        <hr>
        <div style="text-align: center;padding-bottom:15px;">Already have an account? <a href="{% url 'login' %}">Log In here.</a> </div>
        <div style="text-align: center;padding-bottom:15px;">Host your image for free <a href="http://www.imgur.com">here</a>! </div>
    </div>
</div>{% endblock %}